<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sean.takeastand"
    android:versionCode="18"
    android:versionName="A18" >
    <meta-data
        android:name="com.google.android.gms.analytics.globalConfigResource"
        android:resource="@xml/analytics_global_config" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeWithoutActionBarIcon"
        android:name="com.Application">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ScheduleListActivity" />
        <activity android:name=".ui.ScienceActivity" />
        <activity
            android:name=".ui.RemindersActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name=".ui.StandDetectorTMSettings"
            android:label="@string/title_activity_standdetectortmsettings" >
        </activity>
        <receiver android:name=".alarmprocess.AlarmReceiver" />
        <receiver android:name=".alarmprocess.StartScheduleReceiver" />
        <receiver android:name=".alarmprocess.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".alarmprocess.EndPauseReceiver" />
        <service android:name=".alarmprocess.AlarmService" />
        <service android:name="com.heckbot.standdtector.StandDtectorTM" />

        <receiver android:name="com.heckbot.standdtector.StandDtectorBroadcastReceiver" />
        <service android:name="com.heckbot.standdtector.WearResultsListenerService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>


    </application>

</manifest>
